<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <% if @meta_title.present? %>
    <title> <%= @meta_title %> <%= @meta_title_small %> </title>
  <% end %>

  <% if @meta_keywords.present? %>
    <meta name="keywords" content="<%= @meta_keywords %>" />
  <% end %>

  <% if @meta_description.present? %>
    <meta name="description" content="<%= @meta_description %>" />
  <% end %>

  <% if @meta_robots.present? %>
    <meta name="robots" content="<%= @meta_robots %>" />
  <% end %>

</head>
<body>

  <h1> Application </h1>

  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
