<%= simple_form_for(@page, html: {class: 'form-horizontal', style: 'margin-bottom: 10px;' }) do |f| %>
  <%= f.error_notification %>

  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :path, as: :string %>
  <%= f.input :keywords, as: :string %>
  <%= f.input :description, as: :string %>
  <%= f.input :title, as: :string %>
  <%= f.input :robots, as: :string %>
  <%= f.input :redirect_url, as: :string %>
  <%= f.input :content %>

  <%= f.button :submit %>

<% end %>
