<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Список страниц</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Path</th>
      <th>Content</th>
      <th>Keywords</th>
      <th>Description</th>
      <th>Title</th>
      <th>Robots</th>
      <th>Redirect url</th>
      <th>Breadcrumb</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.path %></td>
        <td><%= page.content %></td>
        <td><%= page.keywords %></td>
        <td><%= page.description %></td>
        <td><%= page.title %></td>
        <td><%= page.robots %></td>
        <td><%= page.redirect_url %></td>
        <td>
          <%= page.title1 %> <%= page.url1 %><br>
          <%= page.title2 %> <%= page.url2 %><br>
          <%= page.title3 %> <%= page.url3 %><br>
          <%= page.title4 %> <%= page.url4 %><br>
          <%= page.title5 %> <%= page.url5 %>
        </td>
        <td class="text-center">
          <%= link_to 'Закрытый просмотр', page, class: 'btn btn-xs btn-primary bottom-space-xs' %><br>
          <%= link_to 'Публичный просмотр', '/' + page.path, class: 'btn btn-xs btn-primary bottom-space-xs', target: "_blank" %><br>
          <%= link_to 'Редактировать', edit_page_path(page), class: 'btn btn-xs btn-primary bottom-space-xs' %><br>
          <%= link_to 'Удалить страницу', page, method: :delete, data: { confirm: 'Уверены?' }, class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать страницу', new_page_path, class: 'btn btn-primary btn-lg' %>
