<div class="page-header">
  <h1>Список страниц</h1>
</div>

<div class="alert alert-info" role="alert"><%= notice %></div>

<%= paginate @pages %>

<div style="margin-top:20px"></div>

<div class="row">
  <div class="col-md-9">
    <% @pages.each do |page| %>
      <div class="well">
      <div style="">
        <dl class="dl-horizontal">
          <%= dt_dd(page, "id") %>
          <%= dt_dd(page, "path") %>
          <%= dt_dd(page, "title") %>
          <%= dt_dd(page, "redirect_url") %>
          <%= dt_dd(page, "content", lambda{|val| excerpt(val, '', radius: 100)}) %>
          <% 1.upto(5) do |n| %>
            <%= dt_dd(page, "title#{n}") %>
            <%= dt_dd(page, "url#{n}") %>
          <% end %>
          <%= dt_dd(page, "robots") %>
          <%= dt_dd(page, "keywords") %>
          <%= dt_dd(page, "description") %>
          <%= dt_dd(page, "created_at", lambda{|val| l(val)}) %>
          <%= dt_dd(page, "updated_at", lambda{|val| l(val)}) %>
        </dl>
        <div class="text-center">
        <%= link_to 'Просмотр', page.path, class: 'btn btn-primary' %>&nbsp;&nbsp;
        <%= link_to 'Служебный просмотр', page, class: 'btn btn-primary' %>&nbsp;&nbsp;
        <%= link_to 'Редактировать', edit_page_path(page), class: 'btn btn-primary' %>&nbsp;&nbsp;
        <%= link_to 'Удалить', page, method: :delete, data: { confirm: 'Действительно хотите удалить страницу?' }, class: 'btn btn-danger' %>
        </div>
      </div>
      </div>
    <% end %>
    <%= paginate @pages %>
  </div>
  <div class="col-md-3">
    <div class="well">
      Тут будут фильтры
    </div>
  </div>
</div>

<br>

<%= link_to 'Новая страница', new_page_path, class: 'btn btn-primary btn-lg' %>
