<div class="page-header">
  <h1>Служебный просмотр</h1>
</div>


<div class="alert alert-info" role="alert"><%= notice %></div>

<p>
  <strong>Path:</strong>
  <%= @page.path %>
</p>

<p>
  <strong>Content:</strong>
  <%= @page.content %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @page.keywords %>
</p>

<p>
  <strong>Description:</strong>
  <%= @page.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Robots:</strong>
  <%= @page.robots %>
</p>

<p>
  <strong>Redirect url:</strong>
  <%= @page.redirect_url %>
</p>

<p>
  <strong>Title1:</strong>
  <%= @page.title1 %>
</p>

<p>
  <strong>Url1:</strong>
  <%= @page.url1 %>
</p>

<p>
  <strong>Title2:</strong>
  <%= @page.title2 %>
</p>

<p>
  <strong>Url2:</strong>
  <%= @page.url2 %>
</p>

<p>
  <strong>Title3:</strong>
  <%= @page.title3 %>
</p>

<p>
  <strong>Url3:</strong>
  <%= @page.url3 %>
</p>

<p>
  <strong>Title4:</strong>
  <%= @page.title4 %>
</p>

<p>
  <strong>Url4:</strong>
  <%= @page.url4 %>
</p>

<p>
  <strong>Title5:</strong>
  <%= @page.title5 %>
</p>

<p>
  <strong>Url5:</strong>
  <%= @page.url5 %>
</p>

<%= link_to 'Просмотр', @page.path, class: 'btn btn-primary btn-lg' %>
<%= link_to 'Редактировать', edit_page_path(@page), class: 'btn btn-primary btn-lg' %>
<%= link_to 'К списку страниц', pages_path, class: 'btn btn-default btn-lg' %>
<%= link_to 'Удалить', @page, method: :delete, data: { confirm: 'Действительно хотите удалить страницу?' }, class: 'btn btn-danger btn-lg' %>
