<div class="page-header">
  <h1>Список загрузок</h1>
</div>

<div class="alert alert-info" role="alert"><%= notice %></div>

<%= paginate @uploads %>

<div style="margin-top:20px"></div>

<div class="row">
  <div class="col-md-9">
    <% @uploads.each do |upload| %>
      <div class="well">
      <div>
        <dl class="dl-horizontal">
          <%= dt_dd(upload, "id") %>
          <%= dt_dd(upload, "file") %>
          <%= dt_dd(upload, "created_at", lambda{|val| l(val)}) %>
          <%= dt_dd(upload, "updated_at", lambda{|val| l(val)}) %>
        </dl>
        <div class="text-center">
        <%= link_to 'Служебный просмотр', upload, class: 'btn btn-primary' %>&nbsp;&nbsp;
        </div>
      </div>
      </div>
    <% end %>
    <%= paginate @uploads %>
  </div>
  <div class="col-md-3">
    <div class="well">
      Тут будут фильтры
    </div>
  </div>
</div>
